<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miguel Solans</title>
    <meta name="keywords" id="keywords" content="<%= tags %>">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Include Modules -->
    <script data-main="js/main" src="js/external/require.js"></script>
    <!-- Widget Tags -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

</head>
<body>

<div id="carousel-header" class="carousel slide" data-ride="carousel">
    <div id="header-img" class="carousel-inner header"></div>
</div>

    <div class="container-fluid">
        <div class="row">
            <!-- Right Panel -->
            <div class="col-md-9">
                <div class="container">
                    <h2 align="center">Certificates</h2>
                    <div id="carousel-certificates" class="carousel slide" data-ride="carousel">
                        <div id="certificates-img" class="carousel-inner"><!--Images Go Here --></div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" onclick="$('#carousel-certificates').carousel('prev')">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next" onclick="$('#carousel-certificates').carousel('next')">›</a>
                        <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>-->
                        <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
                    </div>
                    <!--<div id="certificates-img"></div>-->
                    <h2 align="center">Projects I've taken role</h2>
                    <!--<div id="projects-img"></div>-->
                    <div id="carousel-projects" class="carousel slide" data-ride="carousel">
                        <div id="projects-img" class="carousel-inner"><!--Images Go Here --></div>
                    </div>

                    <% for(var i in contents) {
                            if(contents[i].flag === true) {  %>
                    <h2 align="center"><%= contents[i].title %></h2>
                                <%- contents[i].content %>
                    <% }
                     } %>
                    <h2 align="center">Personal Interests</h2>
                    <p>I love <strong>movies</strong>, watching <strong>series</strong> and listening to <strong>music</strong>, as you can tell</p>
                    <p><strong>The Terminator</strong> Movies and Series are my favorite franchises of all time!</p>
                    <p>I love <strong>Web Development</strong> challenges and whenever some freetime is available I spend it learning more about it</p>
                    <p><strong>Languages</strong> are also a big passion. Due to that, I love <strong>travelling</strong>, make new friends who can show me around the corners</p>
                    <p>Due to my Music and Foreign Languages passion, when I have some spare time to kill <strong>I write music reviews</strong></p>
                    <h2 align="center">Music I've been listening</h2>
                    <p>I consider music as an inspiration to any kind of work so I like to take inspiration out it, ranging from Classical to Soundtracks and even Rock and Metal, to Pop from the 80s</p>
                    <div id="music" class="carousel slide" data-ride="carousel"></div>
                </div>
            </div>

            <!-- Left Panel -->
            <div class="col-md-3">
                <div class="side-widget">
					<div class="col d-flex align-items-center justify-content-center" id="profile-picture"></div>
					<h3 class="text-center" id="name"></h3>
					<p id="description"></p>
				</div>
                <div class="side-widget">
                    <h3 class="text-center">Quick Info</h3>

                    <p>Education: </p>
                    <ol class="educations">
                        <% for(var i in education) {%>
                            <li class="education">
                                <span><a target="_blank" href="<%= education[i].link %>"><%= education[i].school %></a> - </span>
                                <span><%= education[i].course %></span>
                            </li>
                        <% } %>
                    </ol>

                    <p>Currently Working On:</p>
                    <ol class="current-jobs">
                        <% for(var i in job) {%>
                            <%if(job[i].flag === true) {%>
                                <li class="job">
                                    <span><a target="_blank" href="<%= job[i].link %>"><%= job[i].company %></a> - </span>
                                    <span><%= job[i].description %></span>
                                </li>
                            <% } %>
                        <% } %>
                    </ol>

                    <p>Used to Work At:</p>
                    <ol class="current-jobs">
                        <% for(var i in job) {%>
                            <%if(job[i].flag === false) {%>
                                <li class="job">
                                    <span><a target="_blank" href="<%= job[i].link %>"><%= job[i].company %></a> - </span>
                                    <span><%= job[i].description %></span>
                                </li>
                            <% } %>
                        <% } %>
                    </ol>
                </div>

                <!-- Custom Widgets -->

                <% for(var i in widgets) { %>
                    <div class="side-widget">
                        <h3 class="text-center"><%= widgets[i].title %></h3>
                        <p align="center"><%= widgets[i].subtitle %></p>
                        <%- widgets[i].content %>
                    </div>
                <% } %>
        </div>
        <div class="row">
            <!--<h2>Pictures I've taken</h2>-->
            <div id="instafeed"></div>
        </div>

    </div>


    <script>
        // Fixes the prev/next links of the sliders
        $('.carousel-control.left').click(function(e) {
            e.stopPropagation();
            $('#carousel-certificates').carousel('prev');
            return false;
        });

        $('.carousel-control.right').click(function(e) {
            e.stopPropagation();
            $("#carousel-certificates").carousel('next');
            return false;
        });
    </script>
</body>
</html>