<%- include('partials/header') %>

<div class="container">
    <h1 align="center">Settings</h1>
    <hr>


    <!-- Experimental: Tabs -->
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'keywords')" id="defaultOpen">Keywords</button>
        <button class="tablinks" onclick="openTab(event, 'widgets')">Widgets</button>
        <button class="tablinks" onclick="openTab(event, 'styling')">Styling</button>
        <button class="tablinks" onclick="openTab(event, 'advanced')">Advanced</button>
    </div>

    <!-- Keywords Area -->
    <div id="keywords" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>

        <h3>Keywords</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Tags</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i in keyword) {%>
                <tr class="education">
                    <td><%= i %></td>
                    <td><%= keyword[i].tag %></td>
                    <td>
                        <a href="/admin/edit-tag/<%= keyword[i]._id %>">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="/admin/delete-tag/<%= keyword[i]._id %>">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <%- include('partials/forms/new-tag') %>
    </div>

    <!-- Widget Area -->
    <div id="widgets" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>

        <h3>Widgets</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i in widgets) {%>
                <tr class="education">
                    <td><%= i %></td>
                    <td><%= widgets[i].title %></td>
                    <td><%= widgets[i].subtitle %></td>
                    <td>
                        <a href="/admin/edit-widget/<%= widgets[i]._id %>">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="/admin/delete-widget/<%= widgets[i]._id %>">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <%- include('partials/forms/new-widget') %>
    </div>

    <div id="styling" class="tabcontent">
        <h3>CSS Styles</h3>
        <textarea><%= style %></textarea>
        <div>

        </div>
    </div>

    <div id="advanced" class="tabcontent">
        <h3>Advanced</h3>

        <select id="language-selection">
            <option value="ptPT">Portuguese</option>
            <option value="engUS">English (US)</option>
        </select>
    </div>

</div>

<script>
    function openTab(evt, tabId) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabId).style.display = "block";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<%- include('partials/footer') %>